<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>

  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>startup.FirstServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>view.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>view.Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>view.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyShareView</servlet-name>
    <servlet-class>view.MyShareView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>controller.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyShare</servlet-name>
    <servlet-class>controller.MyShare</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublicShare</servlet-name>
    <servlet-class>controller.PublicShare</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublicShareView</servlet-name>
    <servlet-class>view.PublicShareView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>util.DownloadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindFile</servlet-name>
    <servlet-class>controller.FindFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindFileView</servlet-name>
    <servlet-class>view.FindFileView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>controller.AdminHome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMain</servlet-name>
    <servlet-class>view.AdminMain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserFile</servlet-name>
    <servlet-class>controller.UserFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserFileView</servlet-name>
    <servlet-class>view.UserFileView</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>PublicManagerView</servlet-name>
    <servlet-class>view.PublicManagerView</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>PublicManager</servlet-name>
    <servlet-class>controller.PublicManager</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FindUser</servlet-name>
    <servlet-class>controller.FindUser</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FindUserView</servlet-name>
    <servlet-class>view.FindUserView</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FindFileAdminView</servlet-name>
    <servlet-class>view.FindFileAdminView</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FindFileAdmin</servlet-name>
    <servlet-class>controller.FindFileAdmin</servlet-class>
  </servlet>
    <servlet>
  <servlet-name>FindAnyView</servlet-name>
    <servlet-class>view.FindAnyView</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyShare</servlet-name>
    <url-pattern>/MyShare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyShareView</servlet-name>
    <url-pattern>/MyShareView</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>PublicShareView</servlet-name>
    <url-pattern>/PublicShareView</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>PublicShare</servlet-name>
    <url-pattern>/PublicShare</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>FindFile</servlet-name>
    <url-pattern>/FindFile</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>FindFileView</servlet-name>
    <url-pattern>/FindFileView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMain</servlet-name>
    <url-pattern>/AdminMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFile</servlet-name>
    <url-pattern>/UserFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFileView</servlet-name>
    <url-pattern>/UserFileView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublicManagerView</servlet-name>
    <url-pattern>/PublicManagerView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublicManager</servlet-name>
    <url-pattern>/PublicManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUser</servlet-name>
    <url-pattern>/FindUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserView</servlet-name>
    <url-pattern>/FindUserView</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FindFileAdminView</servlet-name>
    <url-pattern>/FindFileAdminView</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FindFileAdmin</servlet-name>
    <url-pattern>/FindFileAdmin</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>FindAnyView</servlet-name>
    <url-pattern>/FindAnyView</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
</web-app>